.KZ-FrontPage {
    width: calc(100%);
    height: calc(100%);
    -moz-width: calc(100%);
    -moz-height: calc(100%);
    -webkit-width: calc(100%);
    -webkit-height: calc(100%);
    background-color: #ccff99;
}